/*-------------- LOGO DISPLAY - Made By FAXES -------------- */

#logo .contenair{
	width: 99%;									
	height:99%;
	background-image: url('img/logo.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 47% 0;
}