* {
    font-family: inherit;
}

.chat-window {
    position: absolute;
    top: 0px;
    left: 8px;
    width: 38%;
    height: 250px;  

    background: inherit !important;

    text-align: left;

    left: auto;

    user-select: none;
}

.msg {
    font-family: Noto Sans, sans-serif;
    color: #fff;
    padding: 2px;
    left: 2px;
    top: 2px;

    font-size: calc(1.8vh); /* 13px in 720p, calc'd by width */
    filter: url(#svgDropShadowFilter);

    line-height: calc(2.1vh * 1.1);

    margin-bottom: 5px;
}

.chat-messages {
    margin: 0;
    height: 100%;
}

.chat-input {
    font-size: 1.65vh;
    position: absolute;
    top: 23.8%;
    left: 0.0%;
    width: 38%;
    max-width: 1000px;
    box-sizing: border-box;
}

.chat-input > div {
    background-color: rgba(0, 0, 0, .6);
    padding: calc(0.28vh / 2);
}

.chat-input .prefix {
    margin: 0;
    margin-left: 0.7%;
    margin-top: -0.1%;
}

.chat-input > div + div {
    position: absolute;
    bottom: calc(1.65vh + 0.28vh + 0.28vh + 0.28vh + (0.28vh / 2));
    width: 99.6%;

    text-align: left;
}

.suggestions {
    border: calc(0.28vh / 2) solid rgba(180, 180, 180, .6);
    background: transparent;
}

textarea {
    background: transparent;
    border-radius: 3px;
    padding: calc(0.28vh / 2);
    padding-left: calc(3.5% + (0.28vh / 2));
}

@media screen and (min-aspect-ratio: 21/9) {
	.chat-window, .chat-input {
		right: calc(12.8vw);
	}
}

@media screen and (min-aspect-ratio: 32/9) {
	.chat-window, .chat-input {
		right: calc(25vw);
	}
}
